<h2>Posts About Jobs</h2>
<a class="btn btn-default" href="/posts/new" role="button">Add Your Post</a>

<ul>
  <% @posts.each do |post| %>
    <li>
      <a href="/posts/<%= post.id %>">
        <%= post.title %>
      </a>
    </li>
  <% end %>
</ul>
