<h2>Posts About Jobs<a href="/posts/new">Add Your Post</a></h2>

<ul>
  <% @posts.each do |post| %>
    <li>
      <a href="/posts/<%= post.id %>">
        <%= post.title %>
      </a>
    </li>
  <% end %>
</ul>
