/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
    font-family: sans-serif;
    padding:1em;
    background-color: #8c9AFF;
  }

  nav a {
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    background-color: #ffe37d;
  }

  nav a:hover {
    background-color: orange;
    color: #fff;
  }

  a {
    text-decoration: none;
    position: relative;
    color: #3366ff;
  }
  a, a:visited {
    text-decoration: none;
    color: blue;
  }

  a:hover {
    background-color: #ccc;
  }

  ul {
    list-style-type: none;
  }

  li {
    margin: 1em;
    color: #3366ff;
  }

  h1 {
    border:1px solid black;
    padding: 2em;
    margin: 2em;
    background-color: #5c31ff;
  }

  h2 {
    padding: 1em;
    margin: 2em;
  }

  h2 > a {
    font-size: .5em;
    border: 1px solid black;
    padding: 1em;
    margin: 2em;
  }

  input {
    display: block;
    margin: 2em 2em 2em 2em;
    padding: 1em;
    border: solid 1px black;
    width: 75%;
    background: #FFE37D;
  }

  input[type=submit],
  a.delete{
    width: auto;
    padding: 1em;
    background-color: gray;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
  }

  a.delete {
    background-color: red;
  }
